.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.badge {
    position: absolute;
    top: 0;
    left: 100%;
    font-size: 12px;
    line-height: 13px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: #ff0000; 
    border: 4px solid #ff0000;
    color: #ffffff;
    text-align: center;
  }

mat-icon {
    margin-left: 1em;
}

.image {
    height: 2em;
}

.menuDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em;
    justify-content: center;
    align-items: center;
}

app-menu-details {
    border: 1px solid white;
    border-radius: 1em;
    margin: 1em;
}

@media only screen and (min-width: 600px){
    .menuDetails {
        display: flex;
        flex-direction: row;
    }
}