<div class="menu">
    <div class="header">
        <h2 routerLink='/menu'>Pizza Menu</h2>
        
        <mat-icon routerLink ='/shoppingcart' matBadge="{{count}}" matBadgeColor="warn" matBadgeSize="small" (click)="cart()">shopping_cart</mat-icon>
    </div>

    
    <div *ngIf="showMenu" class="menuDetails">
        <app-menu-details *ngFor="let item of menu" [item]="item" (click)="counter()"></app-menu-details>
    </div>
    
    <app-shopping-cart *ngIf="showShoppingCart"></app-shopping-cart>
</div>

