<div class="menu">
    <div class="header">
        <h2 routerLink='/menu'>Pizza Menu</h2>

        <button mat-icon-button>
            <mat-icon (click)="cart()">shopping_cart</mat-icon>
            <span class="badge" *ngIf="count > 0">{{count}}</span>
        </button>
    </div>

    
    <div *ngIf="showMenu" class="menuDetails">
        <app-menu-details *ngFor="let item of menu" [item]="item" (count)="counter($event)"></app-menu-details>
    </div>
    
    <app-shopping-cart *ngIf="showShoppingCart" (count)="deleteCounter($event)"></app-shopping-cart>
</div>

