.shopping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
}

.cartDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em;
    justify-content: center;
    align-items: center;
}

button {
    margin-bottom: 1em;
    background-color: #E31837;
    padding: 1em;
    border-radius: 1em;
    border: none;
    color: white;
}

@media only screen and (min-width: 600px) {
    app-shoppingcart-details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1024px){
    .shopping {
        width: 100%;
    }
}